<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jabberwocky</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header class="display-flex justify-space-between align-center p-2">
    </header>
    <main class="container container-fluid mt-5">
      {{{body}}}
    </main>
    <footer>
    <script src="/js/welcomePage.js"></script>

    </footer>
  </body>

</html>