/*Colors used throughout app*/
:root{
    --primary: #b29090;
    --primaryTransparent: #b29090e3;
    --secondary: #d9d9d9;
    --third: #ce8282;
    --black: #000000;
    --white: #ffffff;
}

body{
    margin: 0px;
}

#welcomeBody{
    background-image: url("../images/old-library.jpg");
    background-size: cover;
    background-position-x: center;
}

#welcomeHeader{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    background: var(--primary);
}

#siteTitle{
    font-size: 80px;
    margin: auto;
    margin-left: 0px;
    font-family: 'Abril Fatface', cursive , sans-serif;
}

#inputField{
    display: inline-grid;
    padding-right: 200px;
}

#userNameInput{
    margin-top: 10px;
    margin-bottom: 5px;
}

#passwordInput{
    margin-bottom: 5px;
}

#forgotLogin{
    color: white;
    text-decoration: underline;
}

#forgotLogin:hover{
    color: var(--black);
}

#loginButton{
    margin-left: 72px;
}

#loginForm{
    display: flex;
}

#signUpLoginButtons{
    margin-top: 10px;
}

#modalContents{
    background: var(--secondary);
    position: absolute;
    top: 170px;
    left: 970px;
}

#newUserNameInput,
#newEmailInput,
#newPasswordInput{
    margin-bottom: 5px;
    border: 2px solid;
}
/*Home Page styling*/
.mainHeaderStyle{
    width: 323px;
    height: 100%;
    background: var(--primary);
    border-right: 3px solid var(--black);
}

#hpHomeBtn,
#hpProfileBtn,
#hpLogOutBtn{
    color: var(--white);
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
}

#hpLogOutBtn{
    padding-top: 20px;
}

.mainContainer{
    display: inline-flex;
    width: 100%;
    height: 100%;
    background-image: url(../images/5148.jpg);
    background-size: contain;
}

#homePageContainer{
    background: var(--primaryTransparent);
    height: 100%;
}

#mainNav{
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

#createReviewBtn{
    width: 100%;
}

#homeReviewH1{
    text-align: center;
    font-size: 50px;
    color: var(--white);
    background: var(--black);
}

.review{
    background: var(--third);
    color: var(--white);
    font-size: 20px;
    border: solid 5px var(--black);
    border-radius: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 10%;
    margin-right: 10%;
}

.review p{
    padding: 0px 12px;
    font-size: 24px;
}

.hpBookInfo{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

.hpGenreYear{
    text-align: end;
}

 
@media screen and (max-width: 900px) {
    #loginForm{
        display: block;
    }

    #welcomeHeader{
        display: block;
        text-align: center;
    }

    #inputField{
        padding-right: 0px;
    }

    #signUpLoginButtons{
        margin-bottom: 10px;
    }
}