/*Colors used throughout app*/
:root{
    --primary: #b29090;
    --primaryTransparent: #b29090e3;
    --secondary: #d9d9d9;
    --third: #ce8282;
    --black: #000000;
    --white: #ffffff;
}

body{
    margin: 0px;
}

#welcomeBody{
    background-image: url("../images/old-library.jpg");
    background-size: cover;
    background-position-x: center;
}

#welcomeHeader{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    background: linear-gradient(to left, #ce8282, #1d1919);
}

#siteTitle{
    font-size: 80px;
    margin: auto;
    margin-left: 0px;
    font-family: 'Cinzel', serif , sans-serif;
    color: var(--white);
}

#inputField{
    display: inline-grid;
    padding-right: 200px;
}

#userNameInput{
    margin-top: 10px;
    margin-bottom: 5px;
}

#passwordInput{
    margin-bottom: 5px;
}

#forgotLogin{
    color: white;
    text-decoration: underline;
}

#forgotLogin:hover{
    color: var(--black);
}

#loginButton{
    margin-left: 72px;
}

#loginForm{
    display: flex;
}

#signUpLoginButtons{
    margin-top: 10px;
}

#modalContents{
    background: var(--secondary);
    position: absolute;
    top: 170px;
    left: 970px;
}

#newUserNameInput,
#newEmailInput,
#newPasswordInput{
    margin-bottom: 5px;
    border: 2px solid;
}
/*Home Page styling*/
.mainHeaderStyle{
    width: 323px;
    height: 100%;
    background: var(--primary);
    border-right: 3px solid var(--black);
}

.mainContainer{
    display: inline-flex;
    width: 100%;
    height: 100%;
    background-image: url(../images/5148.jpg);
    background-size: contain;
}

#homePageContainer{
    background: var(--primaryTransparent);
    min-height: 100%;
}

#mainNav{
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

#homeReviewH1{
    text-align: center;
    font-size: 50px;
    color: var(--white);
    background: linear-gradient(to left, #ce8282, #1d1919);
    font-family: 'Cinzel', serif , sans-serif;
}

.review{
    background: var(--third);
    color: var(--white);
    font-size: 20px;
    font-family: 'Cinzel', serif , sans-serif;
    border: solid 5px var(--black);
    border-radius: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 10%;
    margin-right: 10%;
}

.review p{
    padding: 0px 12px;
    font-size: 24px;
}

.hpBookInfo{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

.hpGenreYear{
    text-align: end;
}

.menu-button-container {
    margin-left: 10px;
}

div.top-navbar {
    display: flex;
    background: linear-gradient(to left, #ce8282, #1d1919);
    color: #FFF;
    height: 50px;
    width: 100%;
    padding: 1em;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
}

div.top-navbar a {
    margin-right: 20px;
    color: #FFF;
    transition: color 0.3s ease;
}

div.top-navbar a:hover {
    color: rgb(0, 0, 0);
}


div.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
}

div.menu > a {
    margin: 0 1rem;
    overflow: hidden;

}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

#homePageBg{
    background-image: url(../images/5148.jpg);
    background-size: contain;
    background-blend-mode: luminosity;
}

#homePageBody{
    height: calc(100% - 98px);
    margin-top: 98px;

}

#createReviewBtn{
    width: 175px;
    height: 35px;
    font-weight: bold;
}

#createReviewBtn:hover{
    color: var(--third);
}

#top-bar{
    position: fixed;
    top: 0;
}

 
@media screen and (max-width: 900px) {
    #loginForm{
        display: block;
    }

    #welcomeHeader{
        display: block;
        text-align: center;
    }

    #inputField{
        padding-right: 0px;
    }

    #signUpLoginButtons{
        margin-bottom: 10px;
    }
}